body {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	height: 650px;
	background: linear-gradient(to bottom, #12161c, #141b22, #162129, #18272e, #192d34);
	font-family: "Century Gothic", sans-serif;
}

.light {
	color: white;
	background-color: white;
}


.textarea {
	resize: none;
	border: 2px dashed yellow;
	outline: none;
}

.info {
	height: 400px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.85);
}
.pull {
	height: 400px;
	width: 100%;
	background-color: rgba(102, 95, 95, 0.9);
}

.panel-success {
	color: white;
}

.table {
	color: white;
}

